In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
namus = pd.read_csv('./data/namus_clean.csv', on_bad_lines = 'warn')
namus

,Case Number,DLC,Legal Last Name,Legal Last Name CRCT,Legal First Name,Legal First Name CRCT,Missing Age,City,County,State,Biological Sex,Race / Ethnicity,Date Modified,Unnamed: 13,Race / Ethnicity 1,Race/Ethn 2,Race/Ethn 3,Race/Ethn 4,Unnamed: 18
0,MP112724,12/6/2023,Rubi Jr,Rubi Jr,Jose,Jose,16 Years,West Hartford,Hartford,CT,Male,Black / African American,12/7/2023,NaN,Black / African American,NaN,NaN,NaN,NaN
1,MP112723,12/5/2023,Fix,Fix,Malachi,Malachi,16 Years,Okmulgee,Okmulgee,OK,Male,White / Caucasian,12/7/2023,NaN,White / Caucasian,NaN,NaN,NaN,NaN
2,MP112746,12/2/2023,Erickson,Erickson,Brian,Brian,40 Years,Healy Lake,Fairbanks North Star,AK,Male,American Indian / Alaska Native,12/6/2023,NaN,American Indian / Alaska Native,NaN,NaN,NaN,NaN
3,MP112440,11/30/2023,Stites,Stites,Jeremiah,Jeremiah,15 Years,Van Buren,Crawford,AR,Male,Black / African American,12/5/2023,NaN,Black / African American,NaN,NaN,NaN,NaN
4,MP112488,11/30/2023,CONKLIN,Conklin,PEYTON,Peyton,16 Years,Goodyear,Maricopa,AZ,Female,Asian,12/4/2023,NaN,Asian,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24034,MP24452,7/1/1925,Bartlett,Bartlett,Gerald,Gerald,21 Years,Davil's Lake,Ramsey,ND,Male,White / Caucasian,7/26/2023,NaN,White / Caucasian,NaN,NaN,NaN,NaN
24035,MP25633,1/1/1920,Myers,Myers,Sigmund,Sigmund,44 Years,Portland,Multnomah,OR,Male,White / Caucasian,7/26/2023,NaN,White / Caucasian,NaN,NaN,NaN,NaN
24036,MP24464,4/23/1916,Gates,Gates,John,John,33 Years,Longmont,Boulder,CO,Male,White / Caucasian,5/26/2023,NaN,White / Caucasian,NaN,NaN,NaN,NaN
24037,MP24522,11/1/1915,Davis,Davis,Noel,Noel,16 Years,Reno,Washoe,NV,Male,White / Caucasian,10/4/2023,NaN,White / Caucasian,NaN,NaN,NaN,NaN
24038,MP9137,1/1/1902,Cravens,Cravens,Elijah,Elijah,30 - 40 Years,Okmulgee,Okmulgee,OK,Male,White / Caucasian,10/4/2023,NaN,White / Caucasian,NaN,NaN,NaN,NaN

In [3]:
namus['DLC'] = pd.to_datetime(namus['DLC'])
namus['Date Modified'] = pd.to_datetime(namus['Date Modified'])
namus

,Case Number,DLC,Legal Last Name,Legal Last Name CRCT,Legal First Name,Legal First Name CRCT,Missing Age,City,County,State,Biological Sex,Race / Ethnicity,Date Modified,Unnamed: 13,Race / Ethnicity 1,Race/Ethn 2,Race/Ethn 3,Race/Ethn 4,Unnamed: 18
0,MP112724,2023-12-06,Rubi Jr,Rubi Jr,Jose,Jose,16 Years,West Hartford,Hartford,CT,Male,Black / African American,2023-12-07,NaN,Black / African American,NaN,NaN,NaN,NaN
1,MP112723,2023-12-05,Fix,Fix,Malachi,Malachi,16 Years,Okmulgee,Okmulgee,OK,Male,White / Caucasian,2023-12-07,NaN,White / Caucasian,NaN,NaN,NaN,NaN
2,MP112746,2023-12-02,Erickson,Erickson,Brian,Brian,40 Years,Healy Lake,Fairbanks North Star,AK,Male,American Indian / Alaska Native,2023-12-06,NaN,American Indian / Alaska Native,NaN,NaN,NaN,NaN
3,MP112440,2023-11-30,Stites,Stites,Jeremiah,Jeremiah,15 Years,Van Buren,Crawford,AR,Male,Black / African American,2023-12-05,NaN,Black / African American,NaN,NaN,NaN,NaN
4,MP112488,2023-11-30,CONKLIN,Conklin,PEYTON,Peyton,16 Years,Goodyear,Maricopa,AZ,Female,Asian,2023-12-04,NaN,Asian,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24034,MP24452,1925-07-01,Bartlett,Bartlett,Gerald,Gerald,21 Years,Davil's Lake,Ramsey,ND,Male,White / Caucasian,2023-07-26,NaN,White / Caucasian,NaN,NaN,NaN,NaN
24035,MP25633,1920-01-01,Myers,Myers,Sigmund,Sigmund,44 Years,Portland,Multnomah,OR,Male,White / Caucasian,2023-07-26,NaN,White / Caucasian,NaN,NaN,NaN,NaN
24036,MP24464,1916-04-23,Gates,Gates,John,John,33 Years,Longmont,Boulder,CO,Male,White / Caucasian,2023-05-26,NaN,White / Caucasian,NaN,NaN,NaN,NaN
24037,MP24522,1915-11-01,Davis,Davis,Noel,Noel,16 Years,Reno,Washoe,NV,Male,White / Caucasian,2023-10-04,NaN,White / Caucasian,NaN,NaN,NaN,NaN
24038,MP9137,1902-01-01,Cravens,Cravens,Elijah,Elijah,30 - 40 Years,Okmulgee,Okmulgee,OK,Male,White / Caucasian,2023-10-04,NaN,White / Caucasian,NaN,NaN,NaN,NaN

In [4]:
namus['Missing Age'] = namus['Missing Age'].str.extract(r'^(\d{2})', expand = False)

In [5]:
namus['Race/Ethn 5'] = namus['Unnamed: 18']

In [6]:
namus = namus.drop(['Legal Last Name', 'Legal First Name', 'Unnamed: 13', 'Unnamed: 18'], axis=1)

In [7]:
namus

,Case Number,DLC,Legal Last Name CRCT,Legal First Name CRCT,Missing Age,City,County,State,Biological Sex,Race / Ethnicity,Date Modified,Race / Ethnicity 1,Race/Ethn 2,Race/Ethn 3,Race/Ethn 4,Race/Ethn 5
0,MP112724,2023-12-06,Rubi Jr,Jose,16,West Hartford,Hartford,CT,Male,Black / African American,2023-12-07,Black / African American,NaN,NaN,NaN,NaN
1,MP112723,2023-12-05,Fix,Malachi,16,Okmulgee,Okmulgee,OK,Male,White / Caucasian,2023-12-07,White / Caucasian,NaN,NaN,NaN,NaN
2,MP112746,2023-12-02,Erickson,Brian,40,Healy Lake,Fairbanks North Star,AK,Male,American Indian / Alaska Native,2023-12-06,American Indian / Alaska Native,NaN,NaN,NaN,NaN
3,MP112440,2023-11-30,Stites,Jeremiah,15,Van Buren,Crawford,AR,Male,Black / African American,2023-12-05,Black / African American,NaN,NaN,NaN,NaN
4,MP112488,2023-11-30,Conklin,Peyton,16,Goodyear,Maricopa,AZ,Female,Asian,2023-12-04,Asian,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24034,MP24452,1925-07-01,Bartlett,Gerald,21,Davil's Lake,Ramsey,ND,Male,White / Caucasian,2023-07-26,White / Caucasian,NaN,NaN,NaN,NaN
24035,MP25633,1920-01-01,Myers,Sigmund,44,Portland,Multnomah,OR,Male,White / Caucasian,2023-07-26,White / Caucasian,NaN,NaN,NaN,NaN
24036,MP24464,1916-04-23,Gates,John,33,Longmont,Boulder,CO,Male,White / Caucasian,2023-05-26,White / Caucasian,NaN,NaN,NaN,NaN
24037,MP24522,1915-11-01,Davis,Noel,16,Reno,Washoe,NV,Male,White / Caucasian,2023-10-04,White / Caucasian,NaN,NaN,NaN,NaN
24038,MP9137,1902-01-01,Cravens,Elijah,30,Okmulgee,Okmulgee,OK,Male,White / Caucasian,2023-10-04,White / Caucasian,NaN,NaN,NaN,NaN

In [8]:
namus = namus.rename(columns={'Legal Last Name CRCT':'Last Name', 'Legal First Name CRCT':'First Name', 'Race / Ethnicity 1':'Race/Ethn 1'})

In [9]:
namus.loc[namus['State'] == 'TN']

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Biological Sex,Race / Ethnicity,Date Modified,Race/Ethn 1,Race/Ethn 2,Race/Ethn 3,Race/Ethn 4,Race/Ethn 5
7,MP112423,2023-11-29,Mejia-Torres,Harlin,17,Johnson City,Washington,TN,Female,Hispanic / Latino,2023-12-01,Hispanic / Latino,NaN,NaN,NaN,NaN
56,MP112594,2023-10-29,Patrick,Dylan,14,Greeneville,Greene,TN,Male,White / Caucasian,2023-12-04,White / Caucasian,NaN,NaN,NaN,NaN
60,MP111965,2023-10-27,Canuto,Angel,17,Nashville,Davidson,TN,Male,White / Caucasian,2023-11-27,White / Caucasian,NaN,NaN,NaN,NaN
67,MP110999,2023-10-26,Matthew,Westbrook,17,Shelbyville,Bedford,TN,Male,Black / African American,2023-11-02,Black / African American,NaN,NaN,NaN,NaN
79,MP111656,2023-10-23,Fletcher,Jettona,17,Murfreesboro,Rutherford,TN,Female,Black / African American,2023-11-15,Black / African American,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23788,MP13801,1966-05-20,Leatherwood,Anna,45,Sevierville,Sevier,TN,Female,White / Caucasian,2020-04-20,White / Caucasian,NaN,NaN,NaN,NaN
23809,MP74556,1965-05-16,Smith,Emmie,68,Gilt Edge,Tipton,TN,Male,White / Caucasian,2023-07-08,White / Caucasian,NaN,NaN,NaN,NaN
23811,MP13082,1965-05-01,Samples,Charles,37,Tiptonville,Lake,TN,Male,White / Caucasian,2023-07-08,White / Caucasian,NaN,NaN,NaN,NaN
23835,MP103532,1964-05-01,Sanders,Linda,16,Kingsport,Sullivan,TN,Female,White / Caucasian,2023-05-16,White / Caucasian,NaN,NaN,NaN,NaN
23906,MP17201,1960-08-24,Sands,Robert,34,Friendship,Crockett,TN,Male,Uncertain,2023-06-15,Uncertain,NaN,NaN,NaN,NaN

In [10]:
namus.to_csv('data/finalnamus.csv')